data:
  dataset: CIFAR10 #possible values: CIFAR10, CIFAR100, MNIST
  num_workers: 4
  val_split: 0.1 #fraction of training data used for validation
  batch_size: 128
  seed: 42
augmentation:
  horizontal_flip: 0.5

training:
  lr: 0.0001
  T: 1000
  epochs: 100
  devices: 1

backbone:
  in_channels: 3 #change to 1 for MNIST
  base_channels: 128
  multipliers: 
    - 1
    - 2
    - 2
    - 2
  attention_resolutions:
    - 16
    - 4

logging:
  logger: mlflow
  experiment_name: DDPM_CIFAR10
  logging_dir: ./logs
  checkpoint_dir: checkpoints/
  checkpoint_name: ddpm-{epoch:02d}-{val_loss:.2f}
